# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [24]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np

In [25]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

In [26]:
df.shape

(800, 11)

In [27]:
#code here
# HO:  The average HP for Pokemon being Dragon type >= average HP for Grass type Pokemons  --> avg(HP_dragon_type) =< avg(HP_grass_type)
# H1: The average HP for Pokemon being Dragon type < average HP for Grass type Pokemons --> avg(HP_dragon) > avg(HP_grass_type)


#collect data
df_grass_type = df[df['Type 1'] == 'Grass']['HP']
df_dragon_type = df[df['Type 1'] == 'Dragon']['HP']


'''
#In order to calculate test statistic we need

#sample mean
mean = df_type.mean()

#standard deviation of sample
s = df_type.std(ddof=1)

#sample size
n = len(df_type)

#hypothesized population mean
mu = df['HP'].mean

stat = (mean - mu)/(s/np.sqrt(n))
stat
'''

st.ttest_ind(df_grass_type,df_dragon_type, equal_var = False, alternative='greater')

TtestResult(statistic=-3.3349632905124063, pvalue=0.999200639025458, df=50.83784116232685)

In [28]:
#H0: dragon type <= grass_type
#H1: dragon type > grass-type

st.ttest_ind(df_dragon_type, df_grass_type, equal_var = False, alternative='greater')

TtestResult(statistic=3.3349632905124063, pvalue=0.0007993609745420598, df=50.83784116232685)

pvalue=0.00079 < alpha --> We reject the Null hypothesis
conclusion: average dragon_type HP > average grass_type HP

In [29]:
#H0: a <= b
#H1: a > b

#Test to make sure how the t-test function is working
print(st.ttest_ind([45,33,43], [0,1,2], equal_var = False, alternative='greater'))


#Test to make sure how the t-test function is working
print(st.ttest_ind([0,1,2],[45,33,43],  equal_var = False, alternative='greater'))

TtestResult(statistic=10.470806811110142, pvalue=0.0038187855668316358, df=2.0967175820604487)
TtestResult(statistic=-10.470806811110142, pvalue=0.9961812144331684, df=2.0967175820604487)

Ici, on rejette H0:

In [ ]:
#h0: b <= a
#h1: b > a

# if p-value < alpha, then we reject the null hypothesis (and so accept h1 = b > a)

p-value > alpha (0.05) : from here we can confirm the null hypothesis: On average, the HP for dragon is lower than for grass type

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [ ]:
#code here

# Legendary VS Non-Legendary
# H0: Legendary_stats = Non-legendary_stats
# H1: Legendary_stats != Non-legendary_stats

from scipy import stats

# Define the significance level
alpha = 0.05

# List of stats to compare
stats_to_compare = ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']

# Perform t-tests for each stat
for stat in stats_to_compare:
    legendary_stat = df[df['Legendary'] == True][stat]
    non_legendary_stat = df[df['Legendary'] == False][stat]

    t_statistic, p_value = stats.ttest_ind(legendary_stat, non_legendary_stat, equal_var=False)

    print("Stat:", stat)
    print("t-statistic:", t_statistic)
    print("p-value:", p_value)

    if p_value < alpha:
        print("Reject the null hypothesis: There is a significant difference in", stat, "between Legendary and Non-Legendary Pokémon.")
    else:
        print("Fail to reject the null hypothesis: There is no significant difference in", stat, "between Legendary and Non-Legendary Pokémon.")
    print()

Stat: HP
t-statistic: 8.981370483625046
p-value: 1.0026911708035284e-13
Reject the null hypothesis: There is a significant difference in HP between Legendary and Non-Legendary Pokémon.

Stat: Attack
t-statistic: 10.438133539322203
p-value: 2.520372449236646e-16
Reject the null hypothesis: There is a significant difference in Attack between Legendary and Non-Legendary Pokémon.

Stat: Defense
t-statistic: 7.637078164784618
p-value: 4.8269984949193316e-11
Reject the null hypothesis: There is a significant difference in Defense between Legendary and Non-Legendary Pokémon.

Stat: Sp. Atk
t-statistic: 13.417449984138461
p-value: 1.5514614112239812e-21
Reject the null hypothesis: There is a significant difference in Sp. Atk between Legendary and Non-Legendary Pokémon.

Stat: Sp. Def
t-statistic: 10.015696613114878
p-value: 2.2949327864052826e-15
Reject the null hypothesis: There is a significant difference in Sp. Def between Legendary and Non-Legendary Pokémon.

Stat: Speed
t-statistic: 11.47504444631443
p-value: 1.049016311882451e-18
Reject the null hypothesis: There is a significant difference in Speed between Legendary and Non-Legendary Pokémon.

In [ ]:
st.ttest_ind(legendary_stat, non_legendary_stat, equal_var=False)

TtestResult(statistic=11.47504444631443, pvalue=1.049016311882451e-18, df=81.62110995711882)

In [ ]:
alpha

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [ ]:
#Before everything:

import pandas as pd
import numpy as np

#for euclidian distance calculation
from scipy.spatial.distance import euclidean
from scipy.stats import ttest_ind

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 37)
- Hospital coordinates (-122, 34)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [ ]:
# Coordinates of the school and hospital
school_coords = (-118, 37)
hospital_coords = (-122, 34)

In [ ]:
# Function to calculate Euclidean distance
def calculate_distance(house_coords, landmark_coords):
    return euclidean(house_coords, landmark_coords)

- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.

In [ ]:
# Calculate distances for each house to school and hospital
df['Distance to School'] = df[['longitude', 'latitude']].apply(lambda x: calculate_distance(x, school_coords), axis=1)
df['Distance to Hospital'] = df[['longitude', 'latitude']].apply(lambda x: calculate_distance(x, hospital_coords), axis=1)

Divide your dataset into houses close and far from either a hospital or school.

In [ ]:
# Divide dataset into houses close and far from either a hospital or school
close_to_school_or_hospital = df[(df['Distance to School'] <= 0.50) | (df['Distance to Hospital'] <= 0.50)]
far_from_school_or_hospital = df[(df['Distance to School'] > 0.50) & (df['Distance to Hospital'] > 0.50)]

Choose the propper test and, with 5% significance, comment your findings

In [ ]:
# Choose an appropriate statistical test
# Since we're comparing two independent groups (prices of houses close to schools/hospitals vs. those far from schools/hospitals),
# we can use the independent two-sample t-test.

# Ho: Price of houses close to school or hopital <= Price of houses far from school or hopital


# Perform t-test for house prices
t_statistic, p_value = ttest_ind(close_to_school_or_hospital['median_house_value'], far_from_school_or_hospital['median_house_value'], equal_var=False)


# Print the results
print("t-statistic:", t_statistic)
print("p-value:", p_value)

if p_value < 0.05:
    print("Reject the null hypothesis: Houses close to either a school or a hospital are significantly more expensive.")
else:
    print("Fail to reject the null hypothesis: There is no significant difference in house prices between houses close to a school or a hospital and those far from them.")

t-statistic: -17.174167998688404
p-value: 5.220018561223529e-05
Reject the null hypothesis: Houses close to either a school or a hospital are significantly more expensive.